html {
    width: 100%;
    height: 100%;
}

 /* nav */
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .1s ease,padding .1s ease;
        -moz-transition: background .1s ease,padding .1s ease;
        transition: background .1s ease,padding .1s ease;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

 /* end nav */

 /* intro */

.intro-section {
    height: 100%;

}

/* end intro */

/* about */

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/* end about */


/* contact */

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/* end contact */
